.block {
    position: relative;

    margin:50px auto;
    width: 500px;
    height: 500px;
    border: 1px solid;
    color: green;
    background-color: darkseagreen;
}
.box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}

.container {
    max-width: 200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.container input {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid dodgerblue;
}
 span {
     margin-top: 10px;
 }